/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #1A1C1F;
    font-family: Arial, sans-serif;
    color: #fff;
    transition: background-color 0.5s ease, color 0.5s ease;
    min-height: 100vh;
    padding: 20px;
}

.container {
    display: flex;
    margin: 15px;
  
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
}

/* Logo */
.container-img img {
    width: 40px;
}

/* Search Box */
.input {
    display: flex;
    align-items: center;
    background: #2A2D31;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.input i {
    color: #fff;         
    margin-right: 10px;
    font-size: 16px;
}

.input input {
    width: 180px;
    border: none;
    background: transparent;
    color: #fff;
    outline: none;
    font-size: 14px;
}

.icons-sunny {
    background: #2A2D31;
    width: 50px;
    padding: 8px 0;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img-moon{
    background-color: #1DA1F2;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    width: 25px;
    height: 25px; 
}
.icons-sunny img {
    width: 18px;
    filter: brightness(0) saturate(100%) invert(77%) sepia(78%) saturate(847%) hue-rotate(13deg) brightness(100%) contrast(95%);
}
/* Container global */
.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 25px;
}

/*MAIN CITY BLOCK*/

.main-city {
    background-color: #2A2D31;
    width: 420px;
    height: 260px;
    padding: 20px 25px;
    color: #fff;
}
.partly {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.partly img {
    width: 90px;
}

#title-city {
    font-size: 22px;
    font-weight: 600;
    text-transform: lowercase;
}

#temperature {
    font-size: 70px;
    margin-top: 10px;
}

#day {
    opacity: 0.7;
    margin-top: 5px;
    font-size: 14px;
}

/*  STATUS CARDS  */
.main-status {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.status {
    background: #2A2D31;
    width: 180px;
    height: 110px;
    padding: 15px;
    color: #fff;
}
.status i{
    color: #1DA1F2;
    
}
.status p {
    margin-top: 5px;
    font-size: 14px;
    opacity: 0.8;
}
.status h3 {
    margin-top: 3px;
    font-size: 18px;
}
.sunrise {
  position: relative;
  display: inline-block;
}
.sunrise::after {
  content: "";
  position: absolute;
  width: 120%;
  height: 3px;
  background: #1DA1F2;
  bottom: 0;
  left: -10%;
}

.forecast {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    margin: 20px 50px ;
    flex-wrap: wrap;
}

.item {
    background: #2A2D31;
    padding: 18px 14px;
    
    width: 80px;
    text-align: center;
    color: #fff;
}

.item .time {
    font-size: 14px;
    font-weight: 700;
    opacity: 0.8;
}

.item .icon {
    display: block;
    font-size: 22px;
    margin: 8px 0;
}

.item .temp {
    font-size: 18px;
    font-weight: 700;
}

.item.now {
    background: #0096ff;
}

.forecast-weekly {
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
    width: 100%;
    margin-top: 40px;
}
.h3{
    width: 47%;
    display: flex;
    justify-content: center;
}
.weekly-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background: #2A2D31;
    padding: 18px 20px;
    width: 66%;
    margin:10px auto;
    gap: 10px;
}
.day-card {
    flex: 1;
    text-align: center;
    padding: 10px 0;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.day-card:last-child {
    border-right: none;
}

.day {
    font-size: 14px;
    font-weight: 600;
    opacity: 0.85;
}

.day-card img {
    width: 40px;
    margin: 8px 0;
}

.temp {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.low {
    font-size: 13px;
    color: #aaa;
    margin-top: 3px;
}

/**************/
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    color: #fff;
    padding-bottom: 40px;
}

.footer-icon {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.footer-icon a i {
    color: #fff;
    transition: 0.3s;
}

.footer-icon a i:hover {
    color: #0096ff; /* effet au survol */
}

.footer-bottom {
    font-size: 0.9rem;
    opacity: 0.8;
}

hr {
    width: 70%;
    margin: 30px auto;
    border: 1px solid;
    border-top: 1px solid ;
}
/* dark mod        */
.day-theme {
    background-color: #ffffff;
    color: #333333;
}
.day-theme .input,
.day-theme .icons-sunny,
.day-theme .main-city,
.day-theme .status,
.day-theme .item,
.day-theme .weekly-cards{
    background-color: #F8FAFC; 
    color: #333333;
}
.day-theme .day-card{
     border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.day-theme .footer-bottom,
.day-theme .footer-icon i,
.day-theme .temp{
    color: #2A2D31;
}
.day-theme .input>i{
    color: #333333;
}


#theme-toggle button {
    background: none;
    border: none;
    cursor: pointer;
}
